* {
  margin: 0px;
  padding: 0px;
}

a {
  display: block;
  width: 100%;
  color: #333;
  text-decoration: none;
}

body{
  background-color: #efefef;
}

.page{
  box-sizing: border-box;
  margin: 10px;
}
